doctype html
html
  head
    title Register
    style
        include login.css
  body
    div.content
        h1#title Create New Account
        h2#error= err
        form(action="/login/register", method="post")
            table
                tr
                    td
                        label(for="email") Email 
                    td
                        input(type="text", name="email")
                tr
                    td
                        label(for="password") Password 
                    td
                        input(type="password", name="password")
                tr
                    td
                        label(for="role") Role 
                    td
                        select(name="role", required)
                            option(value="accountant") Accountant
                            option(value="user") User
                tr
                    td(colspan=2)
                        input(type="submit", value="Register")
                tr
                    td(colspan=2)
                        a(href="/login")
                            button(type="button") Back