body { 
  font-size:62.5%;
  background: #fffdd0;
}

html{
  padding: 0;
}

.header{
  text-align: center;
  background: #add8e6;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: .5rem;
}

.header h1{
  margin:0;
}

.main{
  width: 200px;
  margin: 2rem auto;
  font-size: 1rem;
}

.login-main{
  text-align: left;
}

.main h2{
  margin: 0;
}

.main h3{
  margin: 0;
  text-decoration: underline;
}

.error{
  margin: 2rem auto;
  width: 20rem;
  font-size: 1rem;
  color: red;
}

.result{
  margin: 2rem auto;
  width: 20rem;
  font-size: 1rem;
}