doctype html
html
    head
        title Example Express
        style
            include style.css
    body
        div.header
            a(href="/") home
        div.content
            h3(style="color:#8b0c00") #{err}