doctype html
html
    head
        title Example Express
        style
            include style.css
    body
        include header.pug
        div.content
            h3 Welcome to my example express/pug website #{username}!